<h1>Answer of your Coach</h1>
<p>HERE IS MY ADVICE TO YOU!</p>

<h1><%= @result  %></h1>
<br>
<br>
<p> your answer was <%= @answer %> </p>
<br>
<br>
<br>


<%= link_to "Ask another question", ask_path %>
