<h1>Question#ask</h1>
<p>Find me in app/views/question/ask.html.erb</p>

<h2> Tell to your coach anything</h2>
<form action="/answer" method="get">
  <input type="text" name="answer" placeholder="ask">
  <input type="submit">
</form>


